.switch {
  display: flex;
  position: relative;
  margin: 0 0 0 auto;
  font-family: "Cabinet Grotesk";
  font-size: 14px;
  font-weight: 700;
  line-height: 17.36px;
}

.switch__box {
  border-radius: 20px;
  border: 2px solid #7e7e7e;
  width: 56px;
  height: 28px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-F {
  top: 0;
  left: 28px;
}

.switch__slider-C {
  top: 0;
  left: 0;
}

.switch__active {
  color: #fff;
}

.switch__temp-C {
  position: absolute;
  top: -7px;
  left: 9px;
}

.switch__temp-F {
  position: absolute;
  top: -7px;
  left: 38px;
}
