.item-card {
  display: flex;
  position: relative;
  justify-content: center;
}

.item-card__header {
  position: absolute;
  margin: 0;
  top: 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.item-card__name {
  margin: 0;
  top: 15px;
  border-radius: 4px;
  background-color: #ffffff;
  color: rgb(0, 0, 0, 60%);
  padding: 2px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.item-card__like-button {
  margin: 0 0 0 10px;
  border: none;
  background: transparent url("../../assets/like-button.svg") center no-repeat;
  background-size: contain;
  width: 18px;
  height: 15px;
}

.item-card__like-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.item-card__like-button_active {
  background: transparent url("../../assets/like-button-filled.svg") center
    no-repeat;
  background-size: contain;
}

.item-card__image {
  width: 323px;
  height: 326px;
  border-radius: 12px;
  border: 1px solid rgb(0 0 0 / 0.3);
  object-fit: cover;
}

.item-card__image:hover {
  cursor: pointer;
}
