.item-card {
  display: flex;
  position: relative;
  justify-content: center;
}

.item-card__name {
  position: absolute;
  margin: 0;
  top: 15px;
  border-radius: 4px;
  background-color: #ffffff;
  color: rgb(0, 0, 0, 60%);
  padding: 2px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.item-card__image {
  width: 323px;
  height: 326px;
  border-radius: 12px;
  border: 1px solid rgb(0 0 0 / 0.3);
  object-fit: cover;
}

.item-card__image:hover {
  cursor: pointer;
}
