@import url("../../vendor/fonts.css");

.modal__content {
  font-family: "Cabinet Grotesk";
}

.modal__content_type_image {
  padding: 0;
}

.modal__image {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.modal__footer {
  padding: 20px 32px;
}

.modal__caption {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  margin: 12px 0 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
